%li{:id => "#{article.id}"}
  = article.title
  %br
  %strong body:
  = "#{article.body}"
  %br
  = link_to 'Edit', edit_article_path(article), remote: true
  = link_to 'Delete', article_path(article) , method: 'delete', remote: true
